<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
 
 	<import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

      <jaxws:endpoint 
      id="HelloWorld"
      implementor="com.jxanyway.aegir.HelloWorld.HelloWorldImpl"
      address="/HelloWorld" />
    
    <!-- 用户登录管理 -->
    <jaxws:endpoint 
      id="LoginUserManage"
      implementor="com.jxanyway.aegir.webservice.LoginUserWebServiceImpl"
      address="/LoginUserManage" />
      
    <!-- 角色管理 -->
    <jaxws:endpoint 
      id="RoleManage"
      implementor="com.jxanyway.aegir.webservice.RoleManageWebServiceImpl"
      address="/RoleManage" />   
      
    <!-- 附件管理 -->
    <jaxws:endpoint 
      id="AttachmentManage"
      implementor="com.jxanyway.aegir.webservice.AttachmentManageWebServiceImpl"
      address="/AttachmentManage">
      <jaxws:properties>
      	<entry key="mtom-enabled" value="true"/>
      </jaxws:properties>
    </jaxws:endpoint>
    
    	<!-- 公司设置管理 -->
    <jaxws:endpoint 
      id="CompanySetManage"
      implementor="com.jxanyway.aegir.webservice.CompanySetManageWebServiceImp"
      address="/CompanySetManage" />
       
</beans>